name: Release
on:
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 5.0.x
      - uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}/nuget-5.0.x/${{ hashFiles('**/packages.lock.json') }}
          restore-keys: ${{ runner.os }}/nuget-5.0.x/
      - name: Install Dependencies
        run: dotnet restore
      - name: Build Package
        run: dotnet build --configuration Release --no-restore Percy
      - name: Create Package
        run: dotnet pack --configuration Release Percy
      - name: Publish Package
        run: dotnet nuget push */bin/Release/*.nupkg -k $NUGET_TOKEN -s $NUGET_SOURCE
        env:
          NUGET_SOURCE: https://api.nuget.org/v3/index.json
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
